<div class="card-category my-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
  <%= @cocktail.name %>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <h4 class="text-center my-4">Ingredients</h4>
      <div class="row">
        <% @cocktail.doses.each do |dose| %>
        <div class="col-6">
          <div class="card card_ingredient text-center m-2">
            <div class="card-body">
              <p class="card-text"><%= dose.description %>cl</p>
              <p class="card-text"><%= dose.ingredient.name %></p>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>



    <div class="col-4">
      <h4 class="text-center my-4">Add ingredients</h4>
      <div class="add">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient %>
          <button class="btn btn-success" type="submit">Create</button>
      <% end %>
      </div>
    </div>
  </div>

  <div class="text-center">
    <p><%= link_to "Back to cocktails List", root_path %></p>
  </div>
</div>






